* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;    
}

.menuHeader {
  width: 24px;
  height: 24px;
  background-color: rgb(235, 240, 241);
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}

.menuHeader:hover {
  background-color: #BDC3C7;
}

.pesquisarHeader {
  width: 24px;
  height: 24px;
  background-color: rgb(235, 240, 241);
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}

.pesquisarHeader:hover {
  background-color: #BDC3C7;
}