* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;    
}

menu {
    position: fixed;
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
    background-color: rgb(82, 190, 127);
    transition: transform 0.5s ease;
}

#menuDaCidade {
    display: none;
    transition: display 5s ease;
}

#menuPrincipal ul li a, .menuSuspenso {
    margin: auto;
    color: rgb(230, 230, 230);
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: 1.2em;
    padding: 10px;
    
}

.botaoMenuSuspenso:hover {
    background-color: #95A5A6;
}

#menuDaCidade {
    background-color: #95A5A6;
}